In [1]:
'''
File: CS499 Database queries for collaboration.ipynb
Author: Paul Stephan
Version: 1.0
Date: 06 October, 2024

Description:
Queries MongoDB and creates functions to help facilitate the collaborative work within a team
'''

In [2]:
from pymongo import MongoClient
from bson.objectid import ObjectId
from CS499NoSQLcrud import CRUD

In [3]:
# Import MongoClient from pymongo module
from pymongo import MongoClient

# Connect to MongoDB instance
client = MongoClient('mongodb://myAdmin:password@localhost:27017/')

# Access the 'Animalshelter' database
db = client['Animalshelter']

# Access collections within the database
collectionAnimals = db['Animals']
collectionprojects = db['projects']
collectiontasks = db['tasks']
collectionmembers = db['members']

# Initialize CRUD object with database name and collection name
# CRUD operations are likely defined in another module or class
# Assuming it's defined elsewhere in the code
animalscrud = CRUD('Animalshelter', 'Animals')
projectscrud = CRUD('Animalshelter', 'projects')
taskscrud = CRUD('Animalshelter', 'tasks')
memberscrud = CRUD('Animalshelter', 'members')

In [4]:
#Function to get the tasks assigned to a member
def display_tasks_by_member(username):
    """
    Display tasks assigned to each member in a readable format.
    :param username: The username of the member to filter tasks (optional).
    """
    # Initialize a dictionary to store tasks assigned to each member
    tasks_by_member = {}
    
    # Query the MongoDB collection to retrieve the _id corresponding to the provided username
    user_query = {"username": username}
    user_data = collectionmembers.find_one(user_query)

    if not user_data:
        print("User not found.")
        return

    user_id = user_data.get("_id")

    # Query tasks from the collection based on the provided username, if any
    query = {}  # Initialize an empty query
    if username:
        query["assigned_to"] = ObjectId(user_id)  # Add username to the query if provided

    # Fetch tasks from the collection based on the query
    cursor = collectiontasks.find(query)

    # Display tasks by member
    print("Tasks Assigned to Member:")
    for task in cursor:
        assigned_to = task.get('assigned_to', 'Unassigned')  # Get the assigned member
        task_name = task['name']  # Get the task name

        # Ensure assigned_to is a string to use it as a key
        assigned_to = str(assigned_to)

        # Add the task to the set of tasks assigned to the member
        tasks_by_member.setdefault(assigned_to, set()).add(task_name)
        
    # Display tasks by member
    for member, tasks in tasks_by_member.items():
        print(f"Member: {username}")
        print("Tasks:")
        for task in tasks:
            print(f"- {task}")
        print()  # Add a blank line for readability

In [5]:
#Data aggregating from the database to help find conclusions
# Intake Trends by Month by sex
intake_trends_by_sex = collectionAnimals.aggregate([
    {"$addFields": {"datetime": {"$toDate": "$datetime"}}},  # Convert datetime to date format
    {"$group": {"_id": {"sex_upon_outcome": "$sex_upon_outcome", "month": {"$month": "$datetime"}}, "count": {"$sum": 1}}},
    {"$sort": {"_id.month": 1}}
])

# Adoption Rates by Animal Type and sex
adoption_rates_by_type_and_sex = collectionAnimals.aggregate([
    {"$match": {"outcome_type": "Adoption"}},
    {"$group": {"_id": {"animal_type": "$animal_type", "sex_upon_outcome": "$sex_upon_outcome"}, "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
])

# Adoption Rates by Breed
adoption_rates_by_breed = collectionAnimals.aggregate([
    {"$match": {"outcome_type": "Adoption"}},
    {"$group": {"_id": "$breed", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}},
    {"$limit": 10}
])


# Outcome Trends
outcome_trends = collectionAnimals.aggregate([
    {"$group": {"_id": "$outcome_type", "count": {"$sum": 1}}}
])

In [6]:
#get tasks assigned to user by username
username = input("Enter the username to display tasks: ")
if username:
    display_tasks_by_member(username)

Enter the username to display tasks: pstephan
Tasks Assigned to Member:
Member: pstephan
Tasks:
- Data Entry
- Add Medical History

In [7]:
# Print Intake Trends by Month by sex
print("Intake Trends by Month by Sex:")
for trend in intake_trends_by_sex:
    sex = trend['_id']['sex_upon_outcome']
    month = trend['_id']['month']
    count = trend['count']
    print(f"Sex: {sex}, Month: {month}, Count: {count} animals")

# Print Adoption Rates by Animal Type and Sex
print("\nAdoption Rates by Animal Type and Sex:")
for rate in adoption_rates_by_type_and_sex:
    animal_type = rate['_id']['animal_type']
    sex = rate['_id']['sex_upon_outcome']
    count = rate['count']
    print(f"Animal Type: {animal_type}, Sex: {sex}, Count: {count} adoptions")

# Print Adoption Rates by Breed
print("\nAdoption Rates by Breed:")
for rate in adoption_rates_by_breed:
    print(f"{rate['_id']}: {rate['count']} adoptions")


# Print Outcome Trends
print("\nOutcome Trends:")
for trend in outcome_trends:
    print(f"{trend['_id']}: {trend['count']} animals")

Intake Trends by Month by Sex:
Sex: Spayed Female, Month: 1, Count: 304 animals
Sex: Neutered Male, Month: 1, Count: 341 animals
Sex: Intact Male, Month: 1, Count: 81 animals
Sex: Intact Female, Month: 1, Count: 64 animals
Sex: Unknown, Month: 1, Count: 42 animals
Sex: Intact Female, Month: 2, Count: 43 animals
Sex: Spayed Female, Month: 2, Count: 243 animals
Sex: Intact Male, Month: 2, Count: 63 animals
Sex: Unknown, Month: 2, Count: 34 animals
Sex: Neutered Male, Month: 2, Count: 254 animals
Sex: Spayed Female, Month: 3, Count: 216 animals
Sex: Unknown, Month: 3, Count: 116 animals
Sex: Neutered Male, Month: 3, Count: 260 animals
Sex: Intact Male, Month: 3, Count: 78 animals
Sex: Intact Female, Month: 3, Count: 64 animals
Sex: Spayed Female, Month: 4, Count: 189 animals
Sex: Unknown, Month: 4, Count: 79 animals
Sex: Intact Female, Month: 4, Count: 71 animals
Sex: Intact Male, Month: 4, Count: 75 animals
Sex: Neutered Male, Month: 4, Count: 219 animals
Sex: Intact Female, Month: 5, Count: 109 animals
Sex: Spayed Female, Month: 5, Count: 246 animals
Sex: Intact Male, Month: 5, Count: 99 animals
Sex: Neutered Male, Month: 5, Count: 251 animals
Sex: Unknown, Month: 5, Count: 106 animals
Sex: Intact Male, Month: 6, Count: 127 animals
Sex: Intact Female, Month: 6, Count: 127 animals
Sex: Spayed Female, Month: 6, Count: 277 animals
Sex: Unknown, Month: 6, Count: 93 animals
Sex: Neutered Male, Month: 6, Count: 315 animals
Sex: Unknown, Month: 7, Count: 83 animals
Sex: Intact Male, Month: 7, Count: 122 animals
Sex: Neutered Male, Month: 7, Count: 334 animals
Sex: Intact Female, Month: 7, Count: 117 animals
Sex: Spayed Female, Month: 7, Count: 294 animals
Sex: Spayed Female, Month: 8, Count: 259 animals
Sex: Unknown, Month: 8, Count: 88 animals
Sex: Intact Female, Month: 8, Count: 97 animals
Sex: Neutered Male, Month: 8, Count: 292 animals
Sex: Intact Male, Month: 8, Count: 105 animals
Sex: Intact Male, Month: 9, Count: 128 animals
Sex: Unknown, Month: 9, Count: 66 animals
Sex: Neutered Male, Month: 9, Count: 280 animals
Sex: Intact Female, Month: 9, Count: 114 animals
Sex: Spayed Female, Month: 9, Count: 247 animals
Sex: Unknown, Month: 10, Count: 90 animals
Sex: Spayed Female, Month: 10, Count: 322 animals
Sex: Neutered Male, Month: 10, Count: 336 animals
Sex: Intact Female, Month: 10, Count: 138 animals
Sex: Intact Male, Month: 10, Count: 111 animals
Sex: Spayed Female, Month: 11, Count: 307 animals
Sex: Intact Female, Month: 11, Count: 97 animals
Sex: Unknown, Month: 11, Count: 58 animals
Sex: Intact Male, Month: 11, Count: 110 animals
Sex: Neutered Male, Month: 11, Count: 337 animals
Sex: Intact Male, Month: 12, Count: 88 animals
Sex: Neutered Male, Month: 12, Count: 394 animals
Sex: Spayed Female, Month: 12, Count: 294 animals
Sex: Intact Female, Month: 12, Count: 81 animals
Sex: Unknown, Month: 12, Count: 25 animals

Adoption Rates by Animal Type and Sex:
Animal Type: Dog, Sex: Neutered Male, Count: 1256 adoptions
Animal Type: Dog, Sex: Spayed Female, Count: 1220 adoptions
Animal Type: Cat, Sex: Neutered Male, Count: 789 adoptions
Animal Type: Cat, Sex: Spayed Female, Count: 774 adoptions
Animal Type: Cat, Sex: Intact Female, Count: 63 adoptions
Animal Type: Cat, Sex: Intact Male, Count: 39 adoptions
Animal Type: Dog, Sex: Intact Female, Count: 35 adoptions
Animal Type: Dog, Sex: Intact Male, Count: 28 adoptions
Animal Type: Other, Sex: Spayed Female, Count: 11 adoptions
Animal Type: Other, Sex: Neutered Male, Count: 7 adoptions
Animal Type: Bird, Sex: Intact Male, Count: 7 adoptions
Animal Type: Bird, Sex: Unknown, Count: 6 adoptions
Animal Type: Other, Sex: Intact Male, Count: 3 adoptions
Animal Type: Other, Sex: Unknown, Count: 2 adoptions
Animal Type: Other, Sex: Intact Female, Count: 1 adoptions
Animal Type: Livestock, Sex: Neutered Male, Count: 1 adoptions

Adoption Rates by Breed:
Domestic Shorthair Mix: 1313 adoptions
Pit Bull Mix: 309 adoptions
Labrador Retriever Mix: 302 adoptions
Chihuahua Shorthair Mix: 278 adoptions
Domestic Medium Hair Mix: 148 adoptions
German Shepherd Mix: 115 adoptions
Domestic Longhair Mix: 71 adoptions
Australian Cattle Dog Mix: 69 adoptions
Border Collie Mix: 44 adoptions
Siamese Mix: 41 adoptions

Outcome Trends:
Relocate: 3 animals
Return to Owner: 1841 animals
Died: 87 animals
Disposal: 35 animals
Transfer: 2962 animals
Missing: 5 animals
Rto-Adopt: 20 animals
None: 2 animals
Euthanasia: 803 animals
Adoption: 4242 animals